//styles for layout of content/containers will go here

//Make
#ContentArea {
  background-color: $gold;
  border-top: 30px solid $red;
  margin: 0px -2000px;
  padding: 0px 2000px;
}

//make menu section container sit on the left of page

//make menu header sit at top of menu section, taking up most of the width

//make category list sit left (float?) in menu section, style hover state for categories

//make burger section sit right (float?) in menu section


  //make basket section container sit on right of page

    //style the basket texts/definition lists
